# Environment & secrets
.env
.env.*
!.env.example
!**/.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database / local files
*.sqlite3
*.db

# Alembic
alembic/__pycache__/